{%extends "board/base.html" %} {% block title %} - Home {% endblock %} {%block content%}


<div class="w-full h-96 bg-gradient-to-r from-cyan-500 to-blue-500 grid content-center place-items-center">
    <div class="flex items-center">

        <div class="flex gap-2 flex-col">
            <h1 class="w-fit text-3xl font-bold text-white">Helping IT People Get Jobs.</h1>
            <a href="" class=" py-3 ">
                <button class="bg-green-900 px-4 py-1 rounded-full text-white font-bold">Get Started</button>
            </a>
        </div>
        <img class="w-56" src="https://ouch-cdn2.icons8.com/1HBnX9d8-wYdtcZmWzBvLBcjIZH_Q_JuUmhS82DcGSk/rs:fit:912:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvOTYz/LzY5ODhkMWJiLTRl/OTQtNGE3Yi04MDRi/LWJlZTBiNTIwYTVi/NC5wbmc.png">
    </div>

</div>

{% block body %} 
{% endblock %} 

{% endblock %}